@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
header {
	display: flex;
	text-align: center;
	justify-content:space-around;
	background: rgb(163, 181, 201);
	padding: .6rem;
	margin-top: -.2rem;
	color: rgb(43, 40, 40);
}
.header {
	align-self:center;
	font-size: 2.2rem;
}
.header__nav-list {
	padding: .2rem 0;
	list-style: none;
}
.header__nav-list-link {
	color:rgb(43, 40, 40);
}
.header__nav-list-link:hover {
	color:rgb(219, 85, 85);
}
.header__nav-list-link:active {
	color:rgb(29, 42, 233);
}

.repr__info {
	display: flex;
	border: solid 1px rgba(198, 219, 219, 0.1);
	background: whitesmoke;

	justify-content:space-evenly;
}
.repr_info_block {
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	padding: 1rem;
	font-size: 1.3rem;
}
.repr__picture {
	margin: 1rem 0;
	
}

.repr__name {
	font-size: 1.5rem;
	margin-bottom: .1rem;
}
.committees {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
	border: solid 1px rgba(108, 119, 119, 0.1);
	
	
}
/* .committees__title {
	flex-direction: column;
} */

.committee__sub-committees {
	line-height: 1.8rem;
}

.legislation {
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	border: 1px solid rgba(181, 202, 202, 0.1);
	padding: 1rem 2rem;
}
.legislation__desc {
	padding: 0 4rem 0 1rem;
	line-height: 1.8rem;
	
}

li {
	list-style: none;
}
.contact-info {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-weight: 800;
	padding: 5% 23%;
}

.contact-info__link {
	color:rgb(29, 141, 61);
}
.contact-info__link:hover {
	color:rgb(219, 85, 85);
}
.contact-info__link:active {
	color:rgb(29,42,233);
}

.contact-info_desc {
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
	
}

footer {
	display: flex;
	background:rgb(163, 181, 201);
	color:rgb(43,40,40);
	padding: 1em;
	justify-content: space-between;
	padding: .2rem 3rem;
}
.copyright {
	align-self: center;
	font-size: 1.2rem;
}
.footer__image {
	width: 50px;
}